<html>
<head>
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}" media="screen" title="no title" charset="utf-8" />
</head>
<body>
    <h5>Users</h5>

    <!-- Display all users -->
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Users -->
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                    <td>
                        <a href="{% url 'show_user' id=user.id %}">Show</a>
                        Edit
                        Delete
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>