*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#head{
	margin-top: 50px;
}

#head span{
	border: 1px solid black;
	padding: 3px;
	padding-right: 40px;
	background: gold;
}

form div{
	margin: 50px 10px;
	display: inline-block;
	vertical-align: top;
	width: 20%;
	border: 1px solid black;
	text-align: center;
	padding: 50px 0px;
	color: white;
}
#farm {
	background: linear-gradient(to bottom, limegreen, #784212 );
}
#cave{
	background: linear-gradient(to bottom, black 50%, #784212);
}
#casino{
	background: linear-gradient(to bottom, yellow, blue, yellow)
}



button{
	margin-top: 20px;

}
#activities{
	width: 90%;
	height: 200px;
	overflow: auto;
	border: 1px solid black;
	padding-top: 5px;
	padding-left: 5px;
}

.red{
	color: red;
}
.green{
	color: green;
}