<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About Ninjas</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ninja_style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/script.js')}}"></script>
	
	
	
</head>
<body>
	<h1>About Ninjas</h1>
	<ul>
		<li>They are very sneaky</li>
		<li>there are at least 5 in this page you are on right now</li>
		<li>its too late</li>
	</ul>
	
	<img src="../static/img/ninja.png" alt="">
</body>
</html>