<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Friends</title>
  </head>
  <body>
    <h1>Friends:</h1>
    <table>
      <th>
        <td>Name</td>
        <td>Age</td>
        <td>Friend Since</td>
      </th>
      {% for friend in friends %}

          <td>{# friends name #}</td>
          <td>{#friends age#}</td>
          <td>{#how long theyve been friends#}</td>

      {% endfor %}
    </table>
    <h1>Add a Friend:</h1>
    <form action="/add" method="post">
      <p><label>Name:</label>
      <input type="text" name="add_friend"></p>
      <p><label>Age:</label>
      <input type="text" name="add_age"></p>
      <input type="submit" value = "Add Friend">

    </form>




  </body>
</html>
