<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login or Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/process" method="post">
      <p><label>Name:</label>
      <input type="text" name="name"></p>
      <p><label>Username:</label>
      <input type="text" name="username"></p>
      <p><label>Password:</label>
      <input type="password" name="password"></p>
      <p><label>Password Confirmation:</label>
      <input type="password" name="confirm_password"></p>
      <p><label>Date of appointment:</label>
      <input type="date" name="appointment_date"></p>
      <input type="submit" value = "Create Account">
    </form>
    <h1>Login</h1>
    <form action="/process" method="post">
      <p>Username:
      <input type="text" name="username"></p>
      <p>Password:
      <input type="password" name="password"></p>
      <input type="submit" value = "Login">

    </form>
  </body>
</html>
