<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>THE WALL</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='wallstyle.css')}}">
	<script type="text/javascript">
		{%with alerts = get_flashed_messages(category_filter='alert')%}
			{%if alerts%}
				alert("{{alerts[0]}}");
			{%endif%}
		{%endwith%}
	</script>
	
	
</head>
<body>
	<header>
		<h1>THE WALL</h1>
		<div>
			<h2>Welcome {{ name[0]['first_name'] }}</h2>
			<a href="/logout">log off</a>
		</div>
	</header><!-- 
	 --><a id="top" /><!-- 
	
	 --><div id="main">
		
		<form class="message_form" action="/post_message" method="POST">
			<h3>Post to the Wall</h3>
			<textarea name="content" id="content" cols="30" rows="10"></textarea>
			<button>Post message</button>
		</form>
		<div id="messages">
			{% if messages %}
				{% for message in messages %}
					<div class="message">
					<h3>{{ message['name'] }}: <span class="red">{{ message['post_date'] }}</span></h3>
					<p>{{ message['content'] }}</p>
					</div>
					{% if comments %}
					<div class="comments">
						{% for comment in comments %}
							{% if comment['message_id'] == message['id']%}
							
								<div class="comment">
									<h4>{{comment['name']}} <span class="red">{{comment['post_date']}}</span></h4>
									<p>{{comment['content']}}</p>
								</div>
								
							
							{%endif%}
						{% endfor %}
					</div>
					<form class="comment_form" action="/post_comment" method="POST">
						<input type="hidden" name="message_id" value="{{ message['id'] }}">
						<h4>Post a comment</h3>
						<textarea name="content" id="content" cols="30" rows="10"></textarea>
						<button>Post comment</button>
					
					</form>
					{% endif %}			
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<a href="#top"><img id="arrow" src="{{url_for('static', filename='top.png')}}" alt="Go to Top"></a>
</body>
</html>